body {
    background-image: linear-gradient(to left, #f0f0f0, #e2e2e2, #d5d5d5, #c7c7c7, #bababa, #bababa, #bababa, #bababa, #c7c7c7, #d5d5d5, #e2e2e2, #f0f0f0);
}

* {
    color:black;
}

body, html {
    height: 100%
}

body .page-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F0F0F0;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100vh;
    background-image: linear-gradient(to left, #f0f0f0, #e2e2e2, #d5d5d5, #c7c7c7, #bababa, #bababa, #bababa, #bababa, #c7c7c7, #d5d5d5, #e2e2e2, #f0f0f0);
}

.home-category-list *{
    color: black !important;
}

.background-container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, #f0f0f0, #e2e2e2, #d5d5d5, #c7c7c7, #bababa, #bababa, #bababa, #bababa, #c7c7c7, #d5d5d5, #e2e2e2, #f0f0f0);
}

footer {
    min-height: 100px;
    margin-top: auto;
    font-weight: 600;
}

.category.btn {
    min-width: 150px;
    margin: 0 10px;
}

.nav-text * {
    color: #6c757d;
    font-weight: 600;
}

.nav-text a:hover {
    color: #FFFFFF !important;
}

.navbar-toggler {
    background-color: #6c757d !important
}

button.accordion-button{
    border: solid 1px black;
}

button.accordion-button:not(.collapsed) {
    background-color: #6c757d;
    outline: none !important;
}

.black-border {
    border: 1px solid black !important;
}

.light-gray-background {
    background-color:#F0F0F0 !important;
}

body .accordion-body {
    border: 1px solid black !important;
}

.filter-right-border {
    border-right: 1px solid black;
}

.pagination-container {
    text-align: center !important;
}

.pagination-container .active a {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

.pagination-container :not(.active) a{
    color: black;
}

.return-url-text {
    font-size: 20px;
}

.pagination-container .pagination{
    border: solid black 1px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

:root {
    --colorPrimaryNormal: #00b3bb;
    --colorPrimaryDark: #00979f;
    --colorPrimaryGlare: #00cdd7;
    --colorPrimaryHalf: #80d9dd;
    --colorPrimaryQuarter: #bfecee;
    --colorPrimaryEighth: #dff5f7;
    --colorPrimaryPale: #f3f5f7;
    --colorPrimarySeparator: #f3f5f7;
    --colorPrimaryOutline: #dff5f7;
    --colorButtonNormal: #00b3bb;
    --colorButtonHover: #00cdd7;
    --colorLinkNormal: #00979f;
    --colorLinkHover: #00cdd7;
}


.upload_dropZone {
    color: #0f3c4b;
    background-color: var(--colorPrimaryPale, #c8dadf);
    outline: 2px dashed var(--colorPrimaryHalf, #c1ddef);
    outline-offset: -12px;
    transition: outline-offset 0.2s ease-out, outline-color 0.3s ease-in-out, background-color 0.2s ease-out;
}

.upload_dropZone.highlight {
    outline-offset: -4px;
    outline-color: var(--colorPrimaryNormal, #0576bd);
    background-color: var(--colorPrimaryEighth, #c8dadf);
}

.upload_svg {
    fill: var(--colorPrimaryNormal, #0576bd);
}

.btn-upload {
    color: #fff;
    background-color: var(--colorPrimaryNormal);
}

.btn-upload:hover,
.btn-upload:focus {
    color: #fff;
    background-color: var(--colorPrimaryGlare);
}

.upload_img {
    object-fit: contain;
}

.upload_gallery {
    position:relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 200px;
    background-color: var(--colorPrimaryPale, #c8dadf);
    outline: 2px solid var(--colorPrimaryHalf, #c1ddef);
}

.gallery_cheked_img {
    position: relative;
}

.gallery_cheked_img .close_span {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 20px;
    cursor: pointer;
}

.gallery_cheked_img input[type="radio"] {
    position: absolute;
}

.upload_gallery img {
    height: 100%;
    width: auto;
    border-left: solid #c1ddef 2px;
    border-right: solid #c1ddef 2px;
}

.unvisible_checkbox {
    position: absolute;
    visibility:hidden;
    width:0px;
}

.selected_img {
    filter: brightness(50%);
    border: solid #1b8753 5px;
}

body .good_card {
    height: 200px;
    object-fit: contain;
}

.undecorited_link {
    text-decoration: none;
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.card > *:first-child {
    margin-top: 2em;
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold;
}

.checked, .price span {
    color: #ff9f1a;
}

.product-title, .product-description, .price,{
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
}

body .form-container {
    max-width: 500px !important;
}

body .no-product-for-cart {
    background: #57534f
}

body .no-product-for-cart:hover {
    background: #57534f
}

.not-available {
    text-align: center;
    line-height: 2em;
}

.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff;
}

.detal_info_scroll_item {
    height: 100px;
    object-fit: contain;
}

.pagination-container {
    width:100%;
    height:auto;
}

.pagination-container .pagination {

}

.card.product-not-available {
    background-color: lightgray;
    filter: brightness(80%)
}

.content-blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(136, 136, 204, 0.5);
    z-index: 4444;
}

.error-msg {
    color: red;
}

body ul.tag-ul {
    padding-left: 0;
    display: inline;
    list-style-type: none;
}

body li.tag-li {
    display: inline;
}