@{
    ViewBag.Title = "Головна сторінка";
}

<main class="h-100" style="min-height: 100vh;">
    <section class="wrapper flex-column justify-content-center align-content-between h-100" style="min-height: 100vh;">
        <h1 class="text-center mb-4 display-2 fw-bold" >GameStore</h1>
        <h2 class="text-center">Комп'ютерні товари і не тільки!</h2>
        <p class="text-center my-4"><a href="/Shop/Index" class="btn btn-dark btn-md p-3">Почати покупки -></a></p>
        <h3 class="text-center">Категорії: </h3>
        <ul class="nav justify-content-center pb-3 my-2 nav-text home-category-list">
            <li class="nav-item">@Html.ActionLink("Ігри", "Index", "Shop", new { area = "", category = 1 }, new { @class = "nav-link btn btn-outline-dark category" })</li>
            <li class="nav-item">@Html.ActionLink("Ноутбуки", "Index", "Shop", new { area = "", category = 2 }, new { @class = "nav-link btn btn-outline-dark category" })</li>
            <li class="nav-item">@Html.ActionLink("Аксесуари", "Index", "Shop", new { area = "", category = 3 }, new { @class = "nav-link btn btn-outline-dark category" })</li>
            <li class="nav-item">@Html.ActionLink("ПК", "Index", "Shop", new { area = "", category = 4 }, new { @class = "nav-link btn btn-outline-dark category" })</li>
        </ul>
    </section>


</main>